<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<meta name="author" content="{{.Site.Params.Author}}">
	<title>{{.Page.Title}}</title>
	<meta name="description" content="{{.Site.Params.Description}}">
	<link rel="canonical" href="{{.Permalink}}">

	<meta name="twitter:title" content="{{.Site.Title}}">
	<meta name="twitter:description" content="{{.Site.Params.Description}}">
	<meta name="twitter:url" content="{{.Permalink}}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{.Permalink}}cover.png">

	<meta property="og:title" content="{{.Site.Title}}">
	<meta property="og:description" content="{{.Site.Params.Description}}">
	<meta property="og:url" content="{{.Permalink}}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{.Permalink}}cover.png">

	<meta itemprop="name" content="{{.Site.Title}}">
	<meta itemprop="description" content="{{.Site.Params.Description}}">
	<meta itemprop="image" content="{{.Permalink}}cover.png">
	<meta itemprop="datePublished" content="{{ .Site.Params.DatePublished }}">
	<meta itemprop="dateModified" content="{{ .Site.Params.DateModified }}">

	<script type="application/ld+json">
	{{ dict
		"@context" "https://schema.org/"
		"@type" "WebSite"
		"name" .Site.Title
		"url" .Permalink
		"image" (printf "%scover.png" .Permalink)
	| jsonify | safeJS }}
	</script>
	<script type="application/ld+json">
	{{ dict
		"@context" "http://schema.org"
		"@type" "LocalBusiness"
		"name" .Site.Title
		"image" (printf "%scover.png" .Permalink)
		"address" (dict
			"@type" "PostalAddress"
			"streetAddress" .Site.Params.Store.Address
			"addressLocality" .Site.Params.Store.Location
			"addressCountry" "KR"
		)
		"telephone" .Site.Params.Store.Tel
		"url" .Permalink
	| jsonify | safeJS }}
	</script>

	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	{{ with (templates.Defer (dict "key" "global")) }}
		{{ partial "css.html" . }}
	{{ end }}
</head>
<body class="antialiased bg-black text-gray-300">
	{{ partial "menu" . }}
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
